.footer-section {
  background: #000;
  color: #fff;
  padding: 10px 0; /* Halvera höjden */
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.footer-logo img {
  max-height: 50px; /* Justera storleken på loggan efter behov */
}

.footer-text {
  margin-top: 10px;
  font-size: 14px;
}

.footer-contact {
  margin-top: 10px;
  font-size: 14px;
}