body, html {
  margin: 0;
  padding: 0;
}

.hero {
  height: 75vh;
  background-image: url("/static/images/Hero_image.png");
  background-size: cover;
  display:flex;
  text-align:center;
  /* background-position: center; */
  /* display: flex;
  justify-content: center;
  align-items: center; */
  /* text-align: center; */
  /* color: rgb(83, 141, 7); */
  /* font-size: 1rem; */
  /* padding-top: 100px; */
  /* overflow: hidden; */
  /* margin: 0; */
  /* position: relative; */
}

.hero div {
  color:white;
  backdrop-filter: blur(50px);
  width:70%;
  border-radius:15px;
  padding:3%;
  margin: auto;
  justify-content:center;
}
.hero div h1 {
  font-size:60px;
  font-weight:900;
  font-family: 'Poetsen One', 'sans-serif';
}
.hero div p {
  font-size:23px;
  padding-left:5%;
  padding-right:5%;
  text-align:center;
  font-family: 'Poetsen One', 'sans-serif';
}

.btn-custom {
  background-color: white;
  color: black;
  border: none; /* Ingen kant */
  padding: 15px 30px; /* Större knappar */
  margin: 10px;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* Skugga */
  transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;
}

.btn-custom:hover {
  background-color: black;
  color: white;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.2); /* Mer skugga vid hovring */
}

.container {
  padding-top: 0px; /* justering för att kompensera för navbarens höjd */
}

.text-center {
  text-align: center !important;
}

.mt-5 {
  margin-top: 0 !important;
}  

/* .pt-3 {
  padding-top: 1rem !important;
} */

@media (min-width: 992px) {
  .container, .container-lg, .container-md, .container-sm {
      max-width: 960px;
  }
}


