.menu-tab {
    color: black;
    cursor: pointer;
    position: fixed;
    top: 5px;
    left: 5px;
    font-size: 30px;
    border: none;
    border-radius: 5px;
}

.sidebar {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 2;
    top: 5px;
    left: 5px;
    background-color: black;
    color: #fff;
    overflow-x: hidden;
    transition: 0.5s;
}

.sidebar-header img {
    max-height: 55px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 20px;
}

.sidebar-header .logo {
    max-height: 5px;
    max-width: 250px;
    margin-left: 0px;
    display: flex;
}

.sidebar-header .closebtn {
    font-size: 30px;
    cursor: pointer;
    color: white;
    background: none;
    border: none;
    top: 5px;
    left: 5px;
    padding: 0;
}

.sidebar a {
    padding: 10px 20px;
    text-decoration: none;
    font-size: 15px;
    color: white;
    display: block;
    transition: 0.3s;
    margin:10px 0;
    border-radius: 4px;
}

.sidebar a:hover {
    background-color: #575757;
} 

.sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    font-size: 30px;
}

.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
    display: none;
}


