<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Matminuterna</title>
    <link rel="stylesheet" href="/static/cardstyle.css">
    <link rel="stylesheet" href="/static/footerstyle.css">
    <link rel="stylesheet" href="/static/karusell.css">
    <link rel="stylesheet" href="/static/style.css">
    {% endblock %}

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poetsen+One&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Oleo+Script:wght@400;700&display=swap" rel="stylesheet">
</head>
<body>
    {% include "header.html" %}



    {% block content %}
    {% endblock %}
    {% include "footer.html" %}
    <script src="/static/script.js"></script>
</body>
</html>
