<!DOCTYPE html>
<html lang="en">
<head>
    {% block head %}
    
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/cardstyle.css">
    <link rel="stylesheet" href="/static/footerstyle.css">

    <link rel="stylesheet" href="/static/karusell.css">
    {% endblock %}


    <link rel="stylesheet" href="/static/style.css">

</head>
<body>
    {% include "header.html" %}



    {% block content %}
    {% endblock %}
    {% include "footer.html" %}
    <script src="/static/script.js"></script>
</body>
</html>
