<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="footer.css">
</head>
<body>
    <footer class="footer-section">
        <div class="footer-container">
            <div class="footer-logo">
                <a href="#"><img src="/static/images/Matminuterna151414.png" alt="Logo"></a>
            </div>
            <div class="footer-contact">
                <div class="single-cta">
                    <i class="far fa-envelope-open"></i>
                    <div class="cta-text">
                        <h4>Mejla oss</h4>
                        <span>matminuterna@info.com</span>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright-text" style="text-align:center;">
            <p>Copyright &copy; 2024, All Right Reserved, Bilder Och Recept På Hemsidan Är AI Genererade <a href="#">Matminuter</a></p>
        </div>
    </footer>
</body>
</html>

