<footer class="footer-section">
    <div class="footer-container" id="contact">
        <div class="footer-cta pt-5 pb-5">
            <div class="footer-row">
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fa fa-map-marker"></i>
                        <div class="cta-text">
                            <h4>Hitta oss</h4>
                            <span>Boulevarden 28, 18374 Kista</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="fas fa-phone"></i>
                        <div class="cta-text">
                            <h4>Kontakta oss</h4>
                            <span>+46-87654329</span>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-md-4 mb-30">
                    <div class="single-cta">
                        <i class="far fa-envelope-open"></i>
                        <div class="cta-text">
                            <h4>Mejla oss</h4>
                            <span>matminuternagrupp@gmail.com</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-content pt-5 pb-5">
            <div class="footer-row">
                <div class="col-xl-4 col-lg-4 mb-50">
                    <div class="footer-widget">
                        <div class="footer-logo">
                            <a href=""><img src="/images/Matminuterna151414.png" class="img-fluid" alt="logo"></a>
                        </div>
                        <div class="footer-text">
                            <p>Upptäck vår receptportal, där tiden är viktigaste ingrediensen! Med vårt digitala verktyg kan du snabbt hitta och skapa läckra måltider på nolltid.</p>
                        </div>
                        <div class="footer-social-icon">
                            <span>Följa oss</span>
                            <a href="https://www.facebook.com/profile.php?id=61560132141356"><i class="fab fa-facebook-f facebook-bg"></i></a>
                            <a href="#"><i class="fab fa-pinterest pinterest-bg"></i></a>
                            <a href="https://www.instagram.com/matminuterna/"><i class="fab fa-instagram instagram-bg"></i></a>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-30">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Länkar</h3>
                            <ul>
                                <li><a href="#">Veckans/meny</a></li>
                                <li><a href="#">Tid</a></li>
                                <li><a href="#">Ingrediens</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-xl-4 col-lg-4 col-md-6 mb-50">
                    <div class="footer-widget">
                        <div class="footer-widget-heading">
                            <h3>Prenumerera</h3>
                        </div>
                        <div class="footer-text mb-25">
                            <p>Missa inte att prenumerera på våra nya flöden, vänligen fyll i formuläret nedan. </p>
                        </div>
                        <div class="subscribe-form">
                            <form action="matminuternagrupp@gmail.com">
                                <input type="text" placeholder="Email Address">
                                <button><i class="fab fa-telegram-plane"></i></button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="copyright-area">
        <div class="container">
            <div class="row">
                <div class="col-xl-6 col-lg-6 text-center text-lg-left">
                    <div class="copyright-text">
                        <p>Copyright &copy; 2024, All Right Reserved <a href="https">Matminuterna</a></p>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</footer>
