<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MatMinuterna</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>

<section class="hero-section">
    
</section>

<!--div class="hero-content">
    <h1>Welcome to MatMinuterna</h1>
    <p>Experience the art of cooking with MatMinuterna, where flavors come alive in every dish</p>
</div!-->

</body>
</html>