<div class="menu-tab" onclick="openNav()" aria-label="Open sidebar">☰</div>
    
    <div id="mySidebar" class="sidebar" aria-expanded="false">
        <a href="javascript:void(0)" class="closebtn" onclick="closeNav()" aria-label="Close sidebar">☰</a>
        <a href="#about" onclick="closeNav()">Om oss</a>
        <a href="#recipes" onclick="closeNav()">Snabba recept</a>
        <a href="#ingredients" onclick="closeNav()">Skriv in dina Ingredienser</a>
        <a href="#favorites" onclick="closeNav()">Favoriter</a>
        <a href="#contact" onclick="closeNav()">Kontakt</a>
    </div>

    <div id="overlay" class="overlay" onclick="closeNav()"></div>